*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  body{
    /* display: flex; */
    /* padding: 0 10px; */
    align-items: center;
    justify-content: center;
    background: #1C242F;
  }
  
  header{
    display: flex;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* border: 1px solid; */
  }
  .header{
    display: flex;
    box-sizing: border-box;
    width: 70%;
    height: 10vh;
    margin: auto;
    background-color: #262E3B;
    /* border: 1px solid green; */
  }
  .logo{
    display: flex;
    /* width: 90%; */
    /* margin: auto; */
    padding: 0 0 0 2em;
    padding-left: 2em;
    padding-right: .8em;
    /* border: 1px solid yellow; */
  }
  .logo svg {
    width: 2em;
    height: 2em;
    fill: white;
    margin: auto;
  }
  .logo a{
    color: white;
    margin: auto;
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
  }
  /* .menu {
    margin: auto;
    align-self: left;
  } */
  header a svg{
    display: flex;
  }
  ul button svg{
    width: 1.5em;
    height: 1.5em;
    /* border: 1px solid white; */
    margin: auto;
  }
  
  header .a{
    /* border:  1px solid yellow; */
    display: block;
    width: 3em;
    height: 3em;
    border-radius: 100%;
    margin: 0 .8em;
    background-color: #cf8fe3;
    outline: none;
    border: none;
    cursor: pointer;
  }
  header .b{
    /* border:  1px solid yellow; */
    display: block;
    width: 3em;
    height: 3em;
    border-radius: 100%;
    margin: 0 .8em;
    background-color: #9ed0ff;
    outline: none;
    border: none;
    cursor: pointer;
  }
  
  header .c{
    /* border:  1px solid yellow; */
    display: block;
    width: 3em;
    height: 3em;
    border-radius: 100%;
    margin: 0 .8em;
    background-color: #f2a2e4;
    outline: none;
    border: none;
    cursor: pointer;
  }
  
  
  header ul{
    display: flex;
    /* border: solid 1px white; */
    /* display: block; */
    height: 100%;
  }
  
  header ul li{
    display: inline;
    list-style: none;
    /* border: 1px solid red; */
    margin: auto;
  }
  
  .wrapper{
      margin: auto;
      width: 70%;
      height: 100vh;
      padding: 35px;
      background: #262E3B;
      /* background-color: red; */
      color: white;
      box-sizing:border-box;
      padding-top: 6em;
      display: flex;
    }


    .box{
        display: flex;   
        height: 40vh;
        width: 100%;
        margin: 0 1em;
        margin-top: auto;
        margin-bottom: auto;
        border-radius:20px; 
        /* border: 1px solid; */
        box-sizing: border-box;
        overflow: hidden;
    }
    .card{
        display: flex;
        width: 100%;
        height: 40vh;
        border-radius:20px; 
        background-position: center;
        background-size: cover;
        box-sizing: border-box;
        font-size: 3em; 
        transition: .3s;
        text-decoration: none;
        font-weight: 700;
        /* filter: brightness(50%); */
    }
    .card span{
      margin: auto;
      color: white;
      background-color: rgb(0, 0, 0,0.5);
      padding: .5em;
      border-radius: 15px;
    }

    .box:hover .card{
      transform: scale(1.1);

    }